@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400;500;700&display=swap');

*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   text-align: center;
}

body{
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 174, 255);
}

#info{
    margin-top: 150px;
    display: block;
    background-color: white;
    padding: 100px; 
   margin-left: 50px;
   margin-right: 50px;
   border-radius: 20px;
   margin-bottom: 50px;
}

p,
button{
    margin: 20px;
}

button{
    padding:8px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}

input{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

h1{
    color: white;
    margin: 10px;
}

p{
font-size: 20px;
}